<h1><%=@result_name%></h1>
<div class='panel'>
	<%if is_errors?%>
		<%=show_errors%>
	<%else%>
		<p><%=@status%></p>
	<%end%>
</div>		
<div class='panel'>
	<a href='javascript:void(0);' onclick="loadXMLDoc('<%= @back_href%>','main_box');" class='nav_button'>Back</a>
</div>